@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* icons */
/* General dashboard styles */

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	fill: white;
}

html {
	block-size: 100%;
}

body {
	display: grid;
	grid-template-columns: repeat(12, [body-col-start] 1fr);
	grid-template-rows: repeat(12, [body-row-start] 1fr);
	font-family: "Inter", sans-serif;
	/* font-size: 10px; */
	max-block-size: 100%;
	line-height: 1;
}

.header {
	grid-column: body-col-start 3 / span 11;
	grid-row: body-row-start;
	background-color: white;
}

.sidebar {
	grid-column: body-col-start / span 2;
	grid-row: body-row-start / span 12;
	background-color: cyan;
}

.content {
	grid-column: body-col-start 3 / span 11;
	grid-row: body-row-start 2 / span 11;
	background-color: lightcyan;
	/* gap: 2rem; */

	display: grid;
	grid-template-columns: repeat(3, [content-col-start] 1fr);
	grid-template-rows: repeat(3, [content-row-start] 1fr);
}

/* general header styles */
.header {
	display: grid;
	grid-template:
		"search notification"
		"user nav"
		/1fr 1fr;
}
.header div {
	border: 1px solid red;
}

.header__item {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
	border: 1px solid blue;
}

/* search bar styling */
.search {
	grid-area: search;
}

.search__btn {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

#searchbar {
	margin: 0.5rem 0;
	inline-size: 90%;
	border-radius: 10px;
}

/* notifications styling */

.notification {
	grid-area: notification;
	display: flex;
	justify-content: space-around;
	inline-size: 20%;
}

.user__name {
	text-transform: capitalize;
}

.avatar {
	block-size: 25px;
}

/* user greeting styling */

.user {
	grid-area: user;
	display: flex;
	align-items: center;
}

.avatar.avatar--big {
	block-size: 50px;
	align-self: flex-end;
	margin-right: 1rem;
}

.user__text {
	margin: 0;
}

.user__name.user__name--big {
	font-weight: 700;
}

/* nav styling */

.nav {
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	width: 25%;
	border: 1px solid red;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	inline-size: 100%;
	border: 1px solid red;
}

.nav__item {
	background-color: cyan;
}

.nav__link {
	color: #fff;
}

/* sidebar styles */
.sidebar {
	color: #fff;
}
.dashboard {
	font-size: 2.5rem;
	vertical-align: middle;
}

.tools ul {
	list-style-type: none;
}

.tools ul:first-child {
	margin-bottom: 3rem;
}

.sidebar__heading,
.sidebar__text {
	text-transform: capitalize;
}

.list__item {
	margin: 1rem 0;
}

.sidebar__link {
	display: flex;
	align-items: center;
	color: #fff;

	text-decoration: none;
}

.sidebar__icon {
	margin-right: 1rem;
}

/* general content styles */

.projects {
	grid-column: content-col-start / span 2;
	grid-row: content-row-start / span 3;
	margin-right: 2rem;
}

.announcement {
	grid-column: content-col-start 3;
	grid-row: content-row-start;
	border: 1px solid red;
}

.trending {
	grid-column: content-col-start 3;
	grid-row: content-row-start 2 / span 2;
	border: 1px solid red;
}
/* projects styling */

.projects__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	list-style-type: none;
}

/* project item styling */

.projects__item {
	display: grid;
	border-left: 5px solid orange;
	padding: 0 1rem 1rem;
	border-radius: 8px;
	background-color: #fff;
}

.projects__heading {
	margin: 1.5rem 0 0;
}

.projects__text {
	margin-top: 0;
}

/* announcements styling */
.announcement__list {
	list-style-type: none;
	background-color: #fff;
	inline-size: 80%;
	border: 1px solid red;
}

.announcement__heading {
	padding: 1rem 0 0 0;
	margin: 0;
}

.announcement__item {
	padding-right: 2rem;
}

.announcement__text {
	font-size: 13px;
	padding-bottom: 1rem;
	margin: 0;
}

.border-line {
	border-bottom: 1px solid lightgrey;
}

/* trending styling */
.trending__list {
	background-color: #fff;
	inline-size: 80%;
	border: 1px solid red;
}

.trending__item {
	display: flex;
	align-items: center;
}

.trending__item .avatar {
	block-size: 30px;
	margin-right: 1rem;
}

.trending__item p {
	margin: 0.45rem 0;
}

.trending__user {
	font-weight: 700;
}
